* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

:root,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  background: #131517;
  color: #f9f9f9;
  margin: 0;
}
/* Common */
a,
button,
area,
form {
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  background: none;
  border: none;
  outline: none;
  user-select: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  width: 1144px;
  max-width: (100% - 50px);
  margin-left: auto;
  margin-right: auto;
}

/* ---------------------------------------------------------------------------Header */

.nav {
  display: flex;
  justify-content: center;
}

.nav-wrapper {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  background: #131517;
}

.nav__logo {
  user-select: none;
}

.menu__wrapper {
  margin-left: 274px;
  position: relative;
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  color: #858b93;
  line-height: 24px; /* 150% */
  padding: 5px 18px;
  user-select: none;
  cursor: pointer;
}

.nav__signin--btn {
  margin-left: 284px;
  width: 110px;
  height: 40px;
  text-align: center;
  line-height: 24px; /* 150% */
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 8px;
  border: 1px solid #272633;
}

.nav__signin--btn:hover {
  color: #f9f9f9;
  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: #f9f9f9;
}

.menu-icon {
  display: none;
}

.nav__item--active {
  color: #f9f9f9;
}

.active-line {
  content: "";
  height: 2px;
  position: absolute;
  left: 18px;
  bottom: 5px;
  background: #6aea5c;
  transition: transform 0.3s ease, width 0.3s ease;
}

.header__wrapper {
  position: relative;
  margin-top: 237px;
  text-align: center;
}

.header__content {
  text-align: center;
}

.title-decor-left-top,
.title-decor-right-top,
.title-decor-right-bot,
.title-decor-left-bot {
  position: absolute;
}

.title-decor-left-top {
  top: -9px;
  left: -9px;
}
.title-decor-right-top {
  top: -9px;
  right: -9px;
}
.title-decor-right-bot {
  right: -9px;
  bottom: -9px;
}
.title-decor-left-bot {
  left: -9px;
  bottom: -9px;
}

.header__title {
  display: inline-block;
  max-width: 783px;
  color: #f9f9f9;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 116.667% */
}

.title__highlight {
  position: relative;
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px dashed #fff;
  padding: 5px 0px 0px 4px;
  margin-right: 6px;
}

.header__sub--title {
  margin-top: 34px;
  display: inline-block;
  max-width: 447px;
  color: #858b93;
  line-height: 26px; /* 162.5% */
}

.header__action {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 44px;
}

.header__action--btn {
  color: #f9f9f9;
  text-align: center;
  width: 199px;
  height: 54px;
  line-height: 26px; /* 162.5% */
  border-radius: 8px;
  background: var(--Text-Color-gray-2, #282c30);
  box-shadow: 1px 8px 45px 0px rgba(0, 0, 0, 0.25);
}

.action--btn--active {
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
}

.content__decor {
  position: absolute;
  top: -62px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__decor--left {
  left: 28px;
}
.content__decor--right {
  right: 28px;
}

.header__image {
  margin-top: 111px;
  position: relative;
  text-align: center;
  background-image: url("../img/header-img.svg");
  background-repeat: no-repeat;
  margin-left: 181px;
  width: 848px;
  height: 366px;
  background-size: contain;
}

.img--card,
.img--decor--left,
.img--decor--right {
  position: absolute;
}

.img--card {
  top: 177px;
  left: -75px;
}

.img--decor--left {
  z-index: -1;
  top: 350px;
  left: -111px;
}

.img--decor--right {
  z-index: -1;
  top: 158px;
  right: -66px;
}

/* ---------------------------------------------------------------------------Service */

.service {
  margin-top: 266px;
}

.service__content {
  position: relative;
  display: flex;
  column-gap: 142px;
  width: 1096px;
  height: 331px;
  border-radius: 27px;
  background: #282c30;
  padding: 71px 50px;
}

.service__item--wrap {
  max-width: 239px;
  text-align: center;
}

.item__title {
  margin-top: 30px;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 32px; /* 145.455% */
}

.item__subtitle {
  margin-top: 5px;
  line-height: 26px;
  color: #767c85;
}

.service__dash-line {
  position: absolute;
  top: 102px;
}

.line--left {
  left: 259px;
}

.line--right {
  right: 259px;
}

/* ---------------------------------------------------------------------------Daily-task */
.daily-task {
  margin-top: 140px;
}

.daily-task__content {
  display: flex;
  column-gap: 63px;
}

.task__title {
  max-width: 368px;
  font-size: 4rem;
  font-weight: 600;
}

.task__title-highlight {
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.task__sub {
  margin-top: 22px;
  max-width: 537px;
  color: #858b93;
  line-height: 26px; /* 162.5% */
}

.left__wrap--bot {
  position: relative;
  margin-top: 86px;
  display: flex;
  column-gap: 17px;
}

.data-btn {
  width: 132px;
  height: 127px;
  border-radius: 9px;
  background: #272633;
  text-align: center;
  padding: 21px;
}

.data-btn:nth-child(2) {
  margin-top: 34px;
}

.number {
  font-size: 3rem;
  font-weight: 600;
}

.title {
  text-align: center;
  margin-top: 16px;
  color: #858b93;
}

.active-user {
  display: inline-block;
  margin-top: 6px;
  width: 61px;
  line-height: 26px;
}

.active-data-btn .title {
  color: #f9f9f9;
}

.dost-list {
  position: absolute;
  display: flex;
  column-gap: 5px;
  top: 0;
  left: 202px;
}

.task-dost {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #272633;
}

.active-data-btn {
  background: linear-gradient(
    192deg,
    #c4f566 -43.72%,
    #ae8ef9 -5.87%,
    #ef8f00 52.36%,
    #61e559 122.78%
  );
}

.right-wrap {
  position: relative;
}

.task__background,
.task__dash-shape-big,
.task__dash-shape-small,
.task__dash-shape,
.task__support-btn,
.task__exercitation-btn,
.task__design-btn,
.task__d-btn {
  position: absolute;
}

.task__background {
  left: 63px;
  /* animation: turn-reverse 25s infinite ease-in-out; */
}

.task__dash-shape-big {
  top: 35px;
  left: 118px;
  animation: turn 25s infinite linear;
}

.task__dash-shape-small {
  top: 95px;
  left: 178px;
  animation: turn-reverse 25s infinite linear;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.task__dash-shape {
  top: 151px;
  left: 234px;
}

.task__support-btn {
  top: 62px;
  left: 58px;
}

.task__exercitation-btn {
  top: 55px;
  left: 382px;
}

.task__design-btn {
  top: 392px;
  left: 398px;
}

.task__d-btn {
  top: 318px;
  left: 21px;
}

@keyframes turn {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
@keyframes turn-reverse {
  from {
    rotate: 0;
  }
  to {
    rotate: -360deg;
  }
}
/* ---------------------------------------------------------------------------Features */
.features {
  margin-top: 140px;
  width: 100%;
  background: #191b1d;
  display: flex;
  padding: 296px 270px 216px;
  column-gap: 311px;
}

.features-left__wrap {
  position: relative;
}

.left--background {
  width: 267px;
  height: 267px;
  border-radius: 267px;
  background: linear-gradient(180deg, #6aea5c 0%, #fd7566 48.53%, #ef8f00 100%);
  filter: blur(66px);
}

.dash-line__wrap {
  position: absolute;
  display: flex;
  column-gap: 80px;
  top: -63px;
  left: 50%;
  transform: translateX(-50%);
}

.dash-line__group {
  text-align: center;
}

.clock {
  margin-top: 7px;
  font-size: 14px;
  line-height: 24px;
}

.features-left__card {
  position: absolute;
}

.card-1 {
  top: -98px;
  left: -55px;
}
.card-2 {
  top: 24px;
  left: 106px;
}
.card-3 {
  top: 109px;
  left: 203px;
}
.card-4 {
  top: 219px;
  left: -58px;
}

.features-right__wrap {
  margin-top: -83px;
}

.features__title {
  font-size: 4rem;
  font-weight: 600;
  line-height: 50px; /* 125% */
}

.choose__list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 23px 35px;
}

.choose__item {
  display: flex;
  column-gap: 23px;
}

.check-icon {
  width: 20px;
  height: 19px;
}

.item-text__wrap {
  margin-top: -3px;
  width: 195px;
}

.choose__title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}

.choose-sub {
  color: #858b93;
  margin-top: 8px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 24px;
}
